<div class="table-header">
  <h1>Serverless Commerce Dashboard</h1>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="commerces$" class="mat-elevation-z8">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="product_name">
      <th mat-header-cell *matHeaderCellDef>Product Name</th>
      <td mat-cell *matCellDef="let element">{{ element.product_name }}</td>
    </ng-container>

    <ng-container matColumnDef="material">
      <th mat-header-cell *matHeaderCellDef>Material</th>
      <td mat-cell *matCellDef="let element">{{ element.material }}</td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef>Department</th>
      <td mat-cell *matCellDef="let element">{{ element.department }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div class="load-more-container">
  <button mat-raised-button color="warn" (click)="loadMore()">
    Load More Commerces
  </button>
</div>
